.tileCard {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid var(--navcard-border-default);
    border-radius: 0.5rem;
}

.tileCard::part(root) {
    box-shadow: none;
    padding: 0;
    border-radius: 0.5rem;
}

.tileCard:hover {
    box-shadow: 0 8px 20px -5px var(--sapUiBrand);
    border: 1px solid var(--navcard-border-hover);

}

ui5-card::part(content) {
    height: 100%;
}

.tileInner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.cardContent {
    padding: 1.5rem 1.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    flex: 1;
}

.footerLink {
    text-decoration: none;
    color: inherit;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1.5rem;
    font-weight: 600;
    color: var(--ifm-color-primary);
    background-color: var(--ifm-color-emphasis-100);
    border-top: 1px solid var(--ifm-color-emphasis-200);
}

.header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 1.25rem;
}

.icon {
    font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    color: var(--navcard-icon-hover);
}

.title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    color: var(--navcard-text-default);
}

.docList {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.docList a {
    color: inherit;
}

.docList a:hover {
    color: var(--ifm-color-primary);
    text-decoration: underline;
}

.docList li {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.6rem;
    font-size: 0.9rem;
    color: var(--ifm-color-emphasis-700);
}

.docIcon {
    color: var(--ifm-color-emphasis-500);
    font-size: 1rem;
}

.noDocsMessage {
    font-style: italic;
    color: var(--ifm-color-emphasis-600);
}
