.default {
    max-width: 450px;
    min-height: 80px;
    background-color: white;
    border-radius: 0.5rem;
    border: 1px solid;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 24px;
    gap: 0.75rem;
    font-size: 18px;
    font-weight: 600;
    color: #585757;
    box-shadow: none;
}

.default ui5-icon {
    color: #585757;
    margin-right: 12px;
    font-size: 1.5rem;
    width: 2.5rem;
    height: 1.5rem;
}

.inline {
    display: flex;
    align-items: center;
    gap: 5px;
    overflow: visible;
}

.default:hover {
    background-color: white;
    box-shadow: 0 8px 20px -5px var(--sapUiBrand);
    border-color: var(--sapUiButtonEmphasizedTextColor);
    color: var(--sapUiButtonEmphasizedTextColor);
}

.default:hover ui5-icon {
    color: var(--sapUiButtonEmphasizedTextColor);
}

.default:hover .inline {
    color: #006bb8;
}

.default::part(root) {
    box-shadow: none;
    padding: 0;
    background: transparent;
}
