.domainSection {
}

.container {
    max-width: 1440px;
    margin: 40px auto;
    padding: 0 10px;
}

.title {
    font-size: 36px !important;
    color: #333;
    margin-bottom: 10px !important;
}

.subtitle {
    font-size: 20px !important;
    color: #555;
}

.tilesGrid {
    display: grid;
    gap: 24px;
    width: 100%;
    max-width: 1425px;
    margin-top: 40px;

    /* Always stretch rows equally */
    grid-auto-rows: 1fr;
    align-items: stretch;

    /* responsive */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 992px) {
    .tilesGrid {
        grid-template-columns: repeat(3, 1fr);
    }
}

.tileWrapper {
    height: 100%;
}
