.trustedTecPartnersSection {
    background: 
        url("/img/landingPage/World_map_light.webp");
    padding: 10px 0 10px 0;
    background-position: center -5px;
    background-size: cover; 
}

:root[data-theme='dark'] .trustedTecPartnersSection {
    background: 
        url("/img/landingPage/293368_GettyImages-483147081_dark.webp");
    padding: 10px 0 10px 0;
    background-position: center;
    background-size: cover;
}

.logoImg {
    width: 120px;
    height: 80px;
    object-fit: contain;
    display: block;
    transition: transform 0.3s ease;
}

.logoImg:hover {
  transform: scale(1.5);
}

.container {
    max-width: 1440px;
    margin: 10px auto 40px auto;
    padding: 10px 24px 10px;
}

.title {
    font-size: var(--sapFontHeader2Size);
    color: var(--navcard-text-default);
    margin-bottom: 10px;
}

.subtitle {
    font-size: var(--sapFontHeader4Size);
    margin-top: 1rem;
    color: var(--navcard-text-default);
}

:root[data-theme='dark'] .title,
:root[data-theme='dark'] .subtitle {
    color: var(--text-color-dark-mode);
}

/* Tablet */
@media (max-width: 1024px) {
    .logoImg {
        width: 140px;
        height: 100px;
    }

    .carouselLogo {
        padding: 0 20px;
    }
}

/* Mobile */
@media (max-width: 600px) {
    .title {
        font-size: var(--sapFontHeader3Size);
    }
    .subtitle {
        font-size: var(--sapFontHeader4Size);
    }

    .logoImg {
        width: 100px;
        height: 80px;
    }

    .carouselLogo {
        padding: 0 20px;
    }
}

/* Small mobile */
@media (max-width: 430px) {
    .title {
        font-size: var(--sapFontHeader4Size);
    }

    .subtitle {
        font-size: var(--sapFontHeader5Size);
    }

    .logoImg {
        width: 80px;
        height: 60px;
    }

    .carouselLogo {
        padding: 0 20px;
    }
}
