.highlightText {
    position: relative;
    z-index: 10;
    box-sizing: content-box;
    font-weight: bold;
}

.highlightText::before {
    content: '';
    position: absolute;
    bottom: 0;
    z-index: -1;
    height: var(--spacing-md);
    width: 100%;
    background-color: rgba(149, 218, 255, 0.31);
    transition: width 0.3s ease;
}

.highlightText:hover::before {
    width: 0;
}
